In [1]:
import pandas as pd
from sqlalchemy import create_engine

In [2]:
df = pd.read_csv('taxi+_zone_lookup.csv')

In [3]:
#df

In [4]:
engine = create_engine(f'postgresql://root:root@localhost:5432/ny_taxi')

In [5]:
df.head(n=0).to_sql(name='zones', con=engine, if_exists='replace')

In [6]:
df.to_sql(name='zones', con=engine, if_exists='append')